@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title{
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(152,224,213);
    font-family: 'Kanit', sans-serif;
    gap: 35px;
}

header{
    width: 100vw;
}

nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
nav img{
    border-width: 1px;
    border-color: white;
    border-radius: 20%;
    box-shadow: 0 0 #FFF;
    width: 50px;
}

#ocarina{
    width:100%;
   height:550px;
   object-fit:cover;
   object-position:50% 50%;
   width: 500px;
   height: 500px;  
}
.keys{
    display: flex;
    gap: 10px;
}
.key {
    width: 90px;
    height: 55px;
    border: 5px solid #FFF;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.key.active {
    border: 5px solid rgb(96,103,208);
    color:  rgb(96,103,208);
}

.composer {
    width: 260px;
    margin-top: 20px;
}
.composer #input {
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 10px 15px;
}

.composer button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 15px;
}
